:root {
    --white: #FFFFFF;
    --primary-color: #7D06EE;
    --black: #000000;
    --light-white: #D1D1D1;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Avenir', sans-serif;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    background-color: #000000;
    color: #FFFFFF;
}

img {
    max-width: 100%;
}

.object-fit-cover {
    object-fit: cover;
}

.object-position-center {
    object-position: center;
}

a {
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding: 0 16px;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
}

.row>* {
    padding-left: 16px;
    padding-right: 16px;
}


.head-h1 {
    font-size: 32px;
    line-height: 40px;
}

.head-h2 {
    font-size: 24px;
    line-height: 34px;
}

.head-h3 {
    font-size: 20px;
    line-height: 28px;
}

.head-h4 {
    font-size: 18px;
    line-height: 28px;
}

.head-h5 {
    font-size: 16px;
    line-height: 26px;
}

.head-h6 {
    font-size: 16px;
    line-height: 26px;
}

.paragraph-text {
    font-size: 16px;
    line-height: 26px;
}

.paragraph-text-sm {
    font-size: 14px;
    line-height: 24px;
}

.z-index-0 {
    z-index: 0;
}

.z-index-1 {
    z-index: 1;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.purple-color {
    color: var(--primary-color);
}

.purple-bg {
    background-color: var(--primary-color);
}

.light-white {
    color: var(--light-white);
}

.text-list li {
    font-family: 'Avenir', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
}

.letter-spacing-15 {
    letter-spacing: 0.15em;
}

.letter-spacing-1 {
    letter-spacing: 0.01em;
}

@media (min-width: 768px) {
    .head-h1 {
        font-size: 36px;
        line-height: 44px;
    }

    .head-h2 {
        font-size: 28px;
        line-height: 36px;
    }

    .head-h3 {
        font-size: 24px;
        line-height: 32px;
    }

    .head-h4 {
        font-size: 20px;
        line-height: 32px;
    }

    .head-h5 {
        font-size: 20px;
        line-height: 28px;
    }

    .head-h6 {
        font-size: 18px;
        line-height: 26px;
    }
}

@media (min-width: 992px) {
    .head-h1 {
        font-size: 40px;
        line-height: 48px;
    }

    .head-h2 {
        font-size: 32px;
        line-height: 44px;
    }

    .head-h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .head-h4 {
        font-size: 24px;
        line-height: 36px;
    }
}

.divider {
    box-shadow: 0px 0px 19px 2px #7D2CFEF2;
    width: 100%;
    height: 3px;
    max-width: 450px;
    margin-inline: auto;
    margin-block: 40px;
    background: #FFFFFF;
    border-radius: 5px;
}

